/* body {
    padding: 3rem 2rem 3rem 2rem;
}

.maindiv {
    height: 89.5vh;
    position: relative;
    text-align: center;
    padding: 3rem 3rem 3rem 3rem;
}

h1,
h6,
a {
    color: #00627B;
}

img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.truck {
    width: 12.5rem;
}

.man {
    width: 9rem;
    top: 2.5rem;
    left: 0;
    right: 10.6rem;
    bottom: 0;
}

.lowerline {
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    font-size: 1.4rem;
}

.truckload {
    width: 12.5rem;
}

.downarrow {
    width: 5rem;
    bottom: 13rem;
    right: 2.7rem;
}

button {
    background-color: #00627B;
    color: white;
    border: none;
    position: absolute;
    margin: auto;
    width: 20rem;
    height: 3rem;
    left: 0;
    right: 0;
    bottom: 3rem;
    border-radius: 0.5rem;
} */